.sliders {
  height: 590px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* .silder-overlay {
  height: 590px !important;
  width: 100% !important;
  background-color: rgba(23, 23, 23, 0.133) !important;
} */

.slider-content h1 {
  color: azure;
  font-size: 40px;
  font-weight:400;
  line-height: 50px;
  opacity: 1;
  margin-top: 30px;
  
  
}

.slider-content h2 {
  color: #FFFF33;
  padding: 10px 0px;
  font-size: 45px;
  font-weight: 800;
}

.slider-content p {
  color: azure;
  font-size: 20px;
  font-weight: 600;
}

.slider-img {
  text-align: center;

}

.slider-img img {
  width: 420px;
  height: auto;
}

.explore-btn {
  color: #262626;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #8345E6;
  border-radius: 30px;
  background-color: #8345E6;
  padding: 15px 20px;
  margin-right: 20px;
}

.explore-btn:hover {
  color: azure;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #8345E6;
  border-radius: 10px;
  background-color: #262626;
  padding: 15px 20px;
  margin-right: 20px;

}

.create-btn {

  color: azure;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #8345E6;
  border-radius: 30px;
  background-color: #262626;
  padding: 15px 20px;
  margin-left: 20px;

}

.create-btn:hover {
  color: #262626;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #8345E6;
  border-radius: 30px;
  background-color: #8345E6;
  padding: 15px 20px;
  margin-left: 20px;

}


@media(min-width: 0px) and (max-width: 367px) {
  .sliders {
    height: 490px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center !important;
  }

  .slider-row {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .slider {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 40px;
  }

  /* .silder-overlay {
    height: 450px !important;
    width: 100%;
    background-color: rgb(23 23 23 / 66%);
  } */

  .sliders div {
    /* padding: 10px 10px !important; */
  }

  .slider-img img {
    display: none;
    border: none;

  }

  .slider-btn {
    text-align: center;
    padding: 0px 15px;
  }

  .explore-btn {
    font-size: 17px;
    padding: 6px 6px;
    margin-right: 0px;
    display: block;
    margin-bottom: 20px;
  }

  .explore-btn:hover {
    font-size: 17px;
    padding: 6px 6px;
  }

  .create-btn {
    font-size: 17px;
    padding: 6px 6px;
    margin-left: 0px;
    display: block;

  }

  .create-btn:hover {
    font-size: 12px;
    padding: 6px 6px;
  }

  .slider-content h1 {
    font-size: 25px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .slider-content h2 {
    padding: 2px 0px;
    font-size: 35px;
  }

  .slider-content p {
    font-size: 16px;
    margin-bottom: 0px;
    width: 100%;
    margin: auto;

  }

  .slider-br {
    display: none;
  }

}

@media(min-width: 367.1px) and (max-width: 430px) {
  .sliders {
    height: 460px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center !important;
  }

  .slider-row {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .slider {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  /* .silder-overlay {
    height: 383px !important;
    width: 100%;
    background-color: rgb(23 23 23 / 66%);
  } */

  .sliders div {
    /* padding: 10px 10px !important; */
  }

  .slider-img img {
    display: none;
    border: none;

  }

  .slider-btn {
    text-align: center;
    padding: 15px;
  }

  .explore-btn {
    font-size: 17px;
    padding: 6px 6px;
    margin-right: 0px;
    display: block;
    margin-bottom: 20px;
  }

  .explore-btn:hover {
    font-size: 17px;
    padding: 6px 6px;
  }

  .create-btn {
    font-size: 17px;
    padding: 6px 6px;
    margin-left: 0px;
    display: block;

  }

  .create-btn:hover {
    font-size: 12px;
    padding: 6px 6px;
  }

  .slider-content h1 {
    font-size: 25px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .slider-content h2 {
    padding: 2px 0px;
    font-size: 35px;
  }

  .slider-content p {
    font-size: 16px;
    margin-bottom: 0px;
    width: 100%;
    margin: auto;

  }

  .slider-br {
    display: none;
  }

}

@media (min-width: 430.1px) and (max-width: 575.98px) {

  .sliders {
    padding: 100px 0px;
    padding: 40px 0px 0px 0px;
    text-align: center;
  }


  .sliders {
    height: 525px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center !important;
  }
/* 
  .silder-overlay {
    height: 455px !important;
    width: 100%;
    background-color: rgb(23 23 23 / 66%);
  } */

  .sliders p {
    width: 90%;
  }

  .slider-img img {
    display: none;
    border: none;

  }

  .slider-btn {
    text-align: center;
  }

  .slider-content h1 {
    font-size: 33px;
    margin: 0px;
  }
  .slider-content h2 {
    font-size: 40px;
  }

  .slider-content p {
    font-size: 15px;
    margin-bottom: 0px;
    width: 80%;
    margin: auto;

  }

  .create-btn {
    font-size: 12px;
    padding: 6px 6px;
    margin-left: 0px;
    display: block;

  }

  .explore-btn {
    font-size: 12px;
    padding: 6px 6px;
    margin-right: 0px;
    display: block;
    margin-bottom: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {

  .sliders {
    padding-bottom: 20px !important;
    height: 505px;
    position: relative;
  }

  /* .silder-overlay {
    height: 505px !important;
  } */

  .slider-row {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }



  .sliders h1 {
    margin-top: 30px;
    font-size: 40px;
  }

  .sliders p {
    width: 90%;
  }

  .sliders div {
    padding: 1px 1px !important;
    /* margin: 10px; */
  }

  .slider-img img {
    display: none !important;

  }

  .slider-btn {
    margin-top: 30px !important;
    text-align: center;
  }

  .create-btn {
    font-size: 12px;
    padding: 6px 6px;
    margin-left: 0px;
    display: block;

  }

  .explore-btn {
    font-size: 12px;
    padding: 6px 6px;
    margin-right: 0px;
    display: block;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {

  .sliders {
    /* padding: 20px 10px 100px 10px; */
    padding-bottom: 160px !important;


  }

  .sliders div {
    padding: 2px 2px !important;
    text-align: center;
  }

  .slider-content h1 {

    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .slider-content h2 {
    font-size: 35px;
  }

  .slider-content p {
    color: azure;
    font-size: 18px;
    font-weight: 600;
  }

  .slider-img img {
    width: 355px;

  }

  .slider-btn {
    margin-top: 30px !important;
  }
  .create-btn {
    font-size: 12px;
    padding: 6px 6px;
    margin-left: 0px;
    display: block;

  }

  .explore-btn {
    font-size: 12px;
    padding: 6px 6px;
    margin-right: 0px;
    display: block;
    margin-bottom: 10px;
  }
}

@media (min-width: 1538px) and (max-width: 1680px) {

  .Work-section {
    margin-top: 100px;
    position: relative;
  }

  .work {
    margin-top: 60px;
    background-color: #fff;
  }
}
@media (min-width: 0px) and (max-width: 432px) {

  .Work-section {
    margin-top: 100px;
    position: relative;
  }

  .work {
    margin-top: 60px;
    background-color: #fff;
  }
}



.slider-row {
  width: 100% !important;
  margin: 0px !important;
}




/* Animation  */



.slider-content {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

